@import url(https://fonts.googleapis.com/css?family=Great+Vibes&effect=fire-animation|Crimson+Text:100,200,300,400,500,600,700,800,900);
      
h1{
   font-family: 'Great Vibes', sans-serif;
   font-size: 42px;
   font-weight: 900;
   font-effect-fire-animation;
}

p{
font-family: 'Crimson Text', serif;
      font-size: 18px;
      font-weight: 400;
      text-indent: 400px;
}
