@import url(https://fonts.googleapis.com/css?family=Crimson+Text:100,200,300,400,500,600,700,800,900)
      
      h1{
      font-family: 'Crimson Text', serif;
      font-size: 14px;
      font-weight: 700;
      font-effect-destruction;
      }
